* {
  text-align: center;
}

body {
  background-color: #e74c3c;
}

h3 {
  font-weight: bold;
}

form * {
  margin: 5px auto;
}

label[for="searchBar"] {
  font-size: medium;
  font-weight: bold;
}

label[for="onCurrentTab"] {
  font-weight: bold;
}

form input[type="submit"] {
  background-color: #2c3e50;
  border: 0;
  border-radius: 2px;
  box-shadow: 1px 1px 2px black;
  color: white;
}

form input[type="submit"]:hover {
  background-color: #34495e;
  cursor: pointer;
}
